.admin-page {
  max-width: 1200px;
  margin: 50 auto;
  padding: 20px;
  background-color: #f4f4f400;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: Lexend, monospace;
}

.page-title {
  text-align: center;
  font-size: 2em;
  margin-bottom: 20px;
  font-family: Lexend, monospace;
}

.crop-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-family: Lexend, monospace;
}

.crop-input-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding: 20px;
  background-color: rgba(0, 255, 8, 0.35);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0);
}

.input-group {
  display: flex;
  flex-direction: column;
}

.input-group label {
  font-weight: bold;
  margin-bottom: 8px;
}

.input-group input,
.input-group textarea {
  padding: 8px;
  font-size: 1rem;
  border-radius: 4px;
  outline: none;
}

.input-group input:focus,
.input-group textarea:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.3);
}

.remove-button {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.remove-button button {
  background-color: #ff6347;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
}

.remove-button button:hover {
  background-color: #e55347;
}

.form-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.add-button,
.submit-button {
  padding: 10px 20px;
  font-size: 1.1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-button {
  background-color: #20c647;
  border: none;
}

.add-button:hover {
  background-color: #1ca73a;
}

.submit-button {
  background-color: #218838;
  border: none;
}

.submit-button:hover {
  background-color: #0056b3;
}

/* Crops List Styles */
.crops-list-title {
  margin-top: 40px;
  text-align: center;
  font-size: 1.8em;
}

.crops-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-around;
  margin-top: 20px;
}

.crop-card {
  background-color: rgba(26, 252, 5, 0.347);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: start;
}

.crop-card h4 {
  font-size: 1.5em;
  margin-bottom: 10px;
  align-items: center;
}

.crop-card p {
  font-size: 1rem;
  align-items: flex-start;
}
