/* ResponsiveStyles.css */

/* Default width for mobile view (100%) */
.responsive-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  position: relative;
  width: 100%; /* Mobile view: 100% width */
}

/* 75% width for desktop view (min-width: 769px) */
@media (min-width: 769px) {
  .responsive-container {
    height: 100%;
    width: 75%; /* Desktop view: 75% width */
  }
}

/* 100% width for mobile view (max-width: 768px) */
@media (max-width: 768px) {
  .responsive-container {
    width: 100%; /* Mobile view: 100% width */
  }
}
